html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFFFF;
    font-family: "SF Light", sans-serif;
    color: #010101;
    text-align: center;
    cursor: default;
}

h1 {
    line-height: 50px;
    font-size: 26px;
}

.wrapper {
    max-width: 90%;
    min-width: 80%;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

.header {
    padding-top: 2em;
    width: 100%;
    text-align: center;
    height: 100vh;
    position: relative;
}

.header {
    background: url("../images/icons/arrowdown.svg") no-repeat 50% 93vh;
}

.header h1 {
    margin-top: 25vh;
}

.header a {
    color: #010101;
}

.mainmenu .menu-item {
    display: inline-block;
    font-size: 16px;
    margin: 0 20px;
    line-height: 21px;
}

.mainmenu .menu-item.active a {
    color: #686868;
}

.header .logo {
    font-family: "Oswald Regular", sans-serif;
    font-size: 26px;
    display: block;
    margin-bottom: 0.6em;
}

.hader h1 span {
    display: inline;
}

.header h1 span:before {
    content: "\a ";
    white-space: pre;
}

.content {
	padding: 140px 0 371px;
}

.work-skills img {
    float: left;
}



.footer {
	margin: -371px auto 0;
	height: 371px;
	position: relative;
}
